POSTGRES_DB=floodpulse
POSTGRES_USER=floodpulse
POSTGRES_PASSWORD=floodpulse
POSTGRES_HOST=db
POSTGRES_PORT=5432
PROVIDER=mock
POLL_INTERVAL_SECONDS=600
TREND_EPSILON_LEVEL=0.01
RISING_FAST_THRESHOLD_LEVEL_PER_HR=0.05
APP_TIMEZONE=Australia/Brisbane
